<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TRA DEEP LEARNING</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/dect/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/dect/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/cap">TRA DEEP LEARNING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<header class="masthead text-center text-white pt-5">
  <div class="masthead-content pt-5" ng-app="app" ng-controller="controller">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="p-5">
            <h2 class="display-4 pb-5">Detectron</h2>
            <label for="file" class="btn btn-info btn-lg" ng-show="!done">Select Image</label>
            <input id="file" type="file" fileinput="file" filepreview="preview_file" capture="camera" style="display:none"/>
          </div>
          <div class="p-0" ng-show="flag_image_selected">
            <h4 class="display-6">Source Image</h4>
            <img class="img-fluid" ng-src="//preview_file//" id="img-preview">
            <button class="btn btn-success btn-lg rounded-pill btn-block mt-5" ng-show="flag_image_selected && !flag_uploading && !done" ng-click="upload()" ng-disable="flag_uploading">Upload</button>
          </div>
          <div class="mt-5" ng-show="flag_uploading">
            <h1 class="display-1">//countdown//</h1>
          </div>
          <div class="p-0 mt-5" ng-show="result_file">
            <h4 class="display-6">Result Image</h4>
            <img class="img-fluid" ng-src="//result_file//" id="img-result">
          </div>
        </div>
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Footer -->
<footer class="py-1 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">TCL Research America &copy; 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/dect/vendor/jquery/jquery.min.js"></script>
<script src="/static/dect/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/dect/vendor/angular/angular.min.js"></script>

</body>

<script>
    // var upload_url = "http://10.118.117.78:8080/monopoly/monopoly/upload";
    var upload_url = "https://54.145.245.156:8080/monopoly/monopoly/dectUpload";
    var app = angular.module('app', []);
    app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('//').endSymbol('//');
    });
    app.controller('controller', function ($scope, $http, $interval) {
        $scope.flag_image_selected = false;
        $scope.flag_uploading = false;
        $scope.countdown = 12;
        $scope.timer = null;
        $scope.done = false;

        $scope.upload = function(){
            var upl = $http({
                method: 'POST',
                url: upload_url, // /api/upload
                // headers: {
                //     'Content-Type': 'multipart/form-data',
                //     'Accept': 'application/json'
                // },
                headers: {'Content-Type': undefined},
                data: {
                    upload: $scope.fileinput
                },
                transformRequest: function(data, headersGetter) {
                    $scope.flag_uploading = true;
                    $scope.countdown = 12;

                    $scope.timer = $interval(function(){
                        if ($scope.countdown > 0){
                            $scope.countdown = $scope.countdown - 1;
                        }else {
                            $scope.countdown = 12;
                        }
                    },1000);

                    var formData = new FormData();
                    angular.forEach(data, function(value, key) {
                        formData.append(key, value);
                    });

                    var headers = headersGetter();
                    //delete headers['Content-Type'];

                    return formData;
                }
            });
            return upl.then($scope.handleSuccess, $scope.handleError);
        }

        $scope.handleError = function (response, data) {
            return (response);
        }

        $scope.handleSuccess = function (response) {
            $scope.result_file = response.data.image_url;
            $scope.flag_uploading = false;
            $scope.done = true;
            $interval.cancel($scope.timer);
            return (response);
        }
    })
        .directive("fileinput", [function() {
                return {
                    $scope: {
                        fileinput: "=",
                        filepreview: "=",
                        image_selected: "="
                    },
                    link: function($scope, element, attributes) {
                        element.bind("change", function(changeEvent) {
                            $scope.fileinput = changeEvent.target.files[0];
                            var reader = new FileReader();
                            reader.onload = function(loadEvent) {
                                $scope.$apply(function() {
                                    $scope.preview_file = loadEvent.target.result;
                                });
                            }
                            $scope.flag_image_selected = true;
                            reader.readAsDataURL($scope.fileinput);
                        });
                    }
                }
            }]

        );

</script>

</html>
