<!doctype html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid" id="container" ng-app="regApp" ng-controller="validateCtrl" >
    <div class="row">
        <div class="col-sm-3" style="margin-top: 15px">
            <div class="text-center" id="my_camera">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="margin-top: 10px">
            <button id="upload_btn" type="button" class="btn btn-success btn-lg btn-block" onClick="take_snapshot()" ng-click="upload_photo()">
                <span class="ladda-label">Upload Photo</span> <span class="ladda-spinner"></span>
                <div class="ladda-progress" style="width: 0px;"></div>
            </button>
        </div>
    </div>



</div>
<!-- First, include the Webcam.js JavaScript Library -->
<script type="text/javascript" src="/static/js/webcam.min.js"></script>

<!-- Configure a few settings and attach camera -->
<script language="JavaScript">
    Webcam.set({
/*        width: 320,
        height: 240,
    dest_width: 640,
    dest_height: 480,
        image_format: 'jpeg',
        jpeg_quality: 90*/
   // live preview size
   width: 320,
   height: 240,
   
   // device capture size
   dest_width: 640,
   dest_height: 480,
   
   // final cropped size
   crop_width: 480,
   crop_height: 480,
   
   // format and quality
   image_format: 'jpeg',
   jpeg_quality: 90
    });
    Webcam.attach('#my_camera');
</script>

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/aws-sdk.min.js"></script>
<script src="/static/js/sha1.js"></script>
<script src="/static/js/three.js"></script>
<script src="/static/js/OrbitControls.js"></script>
<script src="/static/js/DDSLoader.js"></script>
<script src="/static/js/MTLLoader.js"></script>
<script src="/static/js/OBJLoader.js"></script>
<script src="/static/js/stats.min.js"></script>
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/ladda.min.js"></script>

<script>

    var app = angular.module('regApp', []);
    app
        .controller(
            'validateCtrl',
            function($scope) {
                $scope.upload_photo = function() {
                    document.getElementById("upload_btn").disabled = true;
                }
            });

</script>

<script>
    var Base64 = {

// private property
        _keyStr : "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",

// public method for encoding
        encode : function (input) {
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;

            input = Base64._utf8_encode(input);

            while (i < input.length) {

                chr1 = input.charCodeAt(i++);
                chr2 = input.charCodeAt(i++);
                chr3 = input.charCodeAt(i++);

                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;

                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }

                output = output +
                    this._keyStr.charAt(enc1) + this._keyStr.charAt(enc2) +
                    this._keyStr.charAt(enc3) + this._keyStr.charAt(enc4);

            }

            return output;
        },

// public method for decoding
        decode : function (input) {
            var output = "";
            var chr1, chr2, chr3;
            var enc1, enc2, enc3, enc4;
            var i = 0;

            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

            while (i < input.length) {

                enc1 = this._keyStr.indexOf(input.charAt(i++));
                enc2 = this._keyStr.indexOf(input.charAt(i++));
                enc3 = this._keyStr.indexOf(input.charAt(i++));
                enc4 = this._keyStr.indexOf(input.charAt(i++));

                chr1 = (enc1 << 2) | (enc2 >> 4);
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                chr3 = ((enc3 & 3) << 6) | enc4;

                output = output + String.fromCharCode(chr1);

                if (enc3 != 64) {
                    output = output + String.fromCharCode(chr2);
                }
                if (enc4 != 64) {
                    output = output + String.fromCharCode(chr3);
                }

            }

            output = Base64._utf8_decode(output);

            return output;

        },

// private method for UTF-8 encoding
        _utf8_encode : function (string) {
            string = string.replace(/\r\n/g,"\n");
            var utftext = "";

            for (var n = 0; n < string.length; n++) {

                var c = string.charCodeAt(n);

                if (c < 128) {
                    utftext += String.fromCharCode(c);
                }
                else if((c > 127) && (c < 2048)) {
                    utftext += String.fromCharCode((c >> 6) | 192);
                    utftext += String.fromCharCode((c & 63) | 128);
                }
                else {
                    utftext += String.fromCharCode((c >> 12) | 224);
                    utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                    utftext += String.fromCharCode((c & 63) | 128);
                }

            }

            return utftext;
        },

// private method for UTF-8 decoding
        _utf8_decode : function (utftext) {
            var string = "";
            var i = 0;
            var c = c1 = c2 = 0;

            while ( i < utftext.length ) {

                c = utftext.charCodeAt(i);

                if (c < 128) {
                    string += String.fromCharCode(c);
                    i++;
                }
                else if((c > 191) && (c < 224)) {
                    c2 = utftext.charCodeAt(i+1);
                    string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                    i += 2;
                }
                else {
                    c2 = utftext.charCodeAt(i+1);
                    c3 = utftext.charCodeAt(i+2);
                    string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                    i += 3;
                }

            }

            return string;
        }

    }

</script>


<!-- Code to handle taking the snapshot and displaying it locally -->
<script language="JavaScript">
    function take_snapshot() {
        var upload_url = "https://54.172.178.225:8080/monopoly/monopoly/upload";
        //var upload_url = "http://10.118.117.78:8080/monopoly/monopoly/upload";
        Webcam.snap(function (data_uri) {
            Webcam.upload( data_uri, upload_url, function(code, text) {
                var ret = JSON.parse(text);
                console.log ( ret );
                init(ret[2], ret[0]);
                animate();
            });
        });
    }
</script>

<script>

    var container, stats;

    var camera, scene, renderer,controls;

    var mouseX = 0, mouseY = 0;

    var windowHalfX = window.innerWidth / 2;
    var windowHalfY = window.innerHeight / 2;


    function init(objfile, mtlfile) {
        var obj = document.getElementById("container");
        obj.parentNode.removeChild(obj);

        container = document.createElement( 'div' );
        document.body.appendChild( container );

        camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 2000 );
        camera.position.z = 250;

        // scene

        scene = new THREE.Scene();

        var ambientLight = new THREE.AmbientLight( 0xcccccc, 0.8 );
        scene.add( ambientLight );

        var pointLight = new THREE.PointLight( 0xffffff, 0.5 );
pointLight.position.set(200,200,0);
        camera.add( pointLight );
        scene.add( camera );
//controls = new THREE.OrbitControls( camera, renderer.domElement );
        // controls.target.set( 0, 0.5, 0 );
        //controls.enablePan = false;
        // model

        var onProgress = function ( xhr ) {

            if ( xhr.lengthComputable ) {

                var percentComplete = xhr.loaded / xhr.total * 100;
                console.log( Math.round( percentComplete, 2 ) + '% downloaded' );

            }

        };

        var onError = function ( xhr ) { };

        THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

        THREE.ImageUtils.crossOrigin = '';

        new THREE.MTLLoader()
        // .setPath( 'models/obj/male02/' )
            .load( mtlfile, function ( materials ) {

                materials.preload();

                new THREE.OBJLoader()
                    .setMaterials( materials )
                    // .setPath( 'models/obj/male02/' )
                    .load( objfile, function ( object ) {

                        object.position.y = 0;
                        object.traverse(function(child) {
                            if(child instanceof THREE.Mesh)
                            {
                                console.log ('hello kitty' );
                                child.material.shading = THREE.SmoothShading;
                                child.geometry.computeVertexNormals(true);
                            }
                        });

                        scene.add( object );

                    }, onProgress, onError );

            } );

        //

        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( window.innerWidth, window.innerHeight );
        renderer.setClearColor('rgb(31,32,60)',1.0);	renderer.setClearColor(0xffffff,1.0);
        // renderer.setClearColor('#428bca',1.0);	renderer.setClearColor('rgba(135,206,250,0.5)',1.0);
        renderer.setClearColor('#428bca',1.0);  renderer.setClearColor('rgba(31,32,60,0.5)',1.0);
        container.appendChild( renderer.domElement );
        controls = new THREE.OrbitControls( camera, renderer.domElement );
        controls.target.set( 0, 0.5, 0 );
        controls.enablePan = false;
//document.addEventListener( 'mousemove', onDocumentMouseMove, false );

        //

        window.addEventListener( 'resize', onWindowResize, false );

    }

    function onWindowResize() {

        windowHalfX = window.innerWidth / 2;
        windowHalfY = window.innerHeight / 2;

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

    }
    function onDocumentMouseMove( event ) {
        if(event.touches){
            mouseX = ( event.touches[ 0 ].pageX - windowHalfX ) / 2;
            mouseY = ( event.touches[ 0 ].pageY - windowHalfY ) / 2;
        }else{
            mouseX = ( event.clientX - windowHalfX ) / 2;
            mouseY = ( event.clientY - windowHalfY ) / 2;
        }
    }
    //function onDocumentMouseMove( event ) {

    //  mouseX = ( event.clientX - windowHalfX ) / 2;
    // mouseY = ( event.clientY - windowHalfY ) / 2;

    // }//

    //

    function animate() {

        requestAnimationFrame( animate );
        render();

    }

    function render() {

//        camera.position.x += ( mouseX - camera.position.x ) * .05;
  //      camera.position.y += ( - mouseY - camera.position.y ) * .05;

    //    camera.lookAt( scene.position );

        renderer.render( scene, camera );

    }

</script>
</body>
</html>
